.App {
  display: grid;
  grid-template-columns: repeat(2,50%);
}

.side_img{
  display: flex;
  padding: 50px;
}

@media (max-width: 991px) {
  .side_img{
    width: 80%;
  }
  .App {
    display: block;
  }
}